<!DOCTYPE html>

<html>

<head>
  <title>Freezer</title>
  <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
  <div class='welcome-content'>
    <h1>Welcome to The Freezer!</h1>
    <img class='portrait' src='/img/lights.png'>
    <h2>Random Show</h2>
    <p>{{date}}</p>
    <p>{{venue}}</p>
    <p>{{location}}</p>
    <p>{{trackName}}</p>
    <p>
      <audio controls>
        <source src={{mp3Link}} type="audio/mpeg">
      </audio>
    </p>
  </div>

</body>

</html>